<a href="https://colab.research.google.com/github/DinhQuocTuan0108/Bai-tap/blob/main/6_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt',mode = 'w') as accounts :
    accounts.write('1 Nguyen Van A 8.0\n')
    accounts.write('2 Le Thi B 6.8\n')

In [ ]:
with open('text.txt',mode='w')as accounts:
      print('7:00 Nguyen Van A',file = accounts)
      print('7:01 Le Thi B',file = accounts)

In [ ]:
with open('text.txt',mode='v') as accounts:
      print(f'{'name':<20} {'score':>20}')
      for record in accounts:
        name score = record.split()
        print(f'{name:<20}{score:>20}')

In [ ]:
import pandas as pd
url = 'Book1.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)

In [ ]:
import pandas as pd
# Create Dataframe
dataframe = pd.DataFrame()
#Add Columns
dataframe['Name']=['Jacky jackson','Steven Stevenson ']
dataframe['Age']=[38,25]
dataframe['Driver']=[True,False]
#Show DataFrame
dataframe

In [ ]:
import pandas as pd
url = '1.csv'
dataframe=pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['HO TEN'])
dataframe.loc['TUAN']

In [ ]:
import pandas as pd
url = '1.csv'
dataframe=pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['SEX'])
dataframe = dataframe.set_index(dataframe['KHOA'])
dataframe[(dataframe['SEX'] == 'NAM') & (dataframe['KHOA'] == 'FEEE')]
dataframe.drop('KHOA',axis=1).head(9)

In [ ]:
import pandas as pd
url = '1.csv'
dataframe=pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['SEX'])
dataframe = dataframe.set_index(dataframe['KHOA'])
dataframe[(dataframe['SEX'] == 'NAM') & (dataframe['KHOA'] == 'FEEE')]
dataframe.drop('MSSV',axis=1).head(9)

In [ ]:
import pandas as pd
url = '1.csv'
dataframe=pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['SEX'])
dataframe = dataframe.set_index(dataframe['KHOA'])
dataframe[(dataframe['SEX'] == 'NAM') & (dataframe['KHOA'] == 'FEEE')]
dataframe.drop('MSSV',axis=1).head(9)
dataframe.groupby('YEARS').mean()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['Medal'])
dataframe = dataframe.set_index(dataframe['Year'])
dataframe = dataframe.set_index(dataframe['City'])
dataframe = dataframe.set_index(dataframe['Sport'])
dataframe = dataframe.set_index(dataframe['Discipline'])
dataframe = dataframe.set_index(dataframe['NOC'])
dataframe = dataframe.set_index(dataframe['Event'])
dataframe = dataframe.set_index(dataframe['Event gender'])
dataframe[(dataframe['NOC'] == 'USA') & (dataframe['Medal'] == 'Gold') & (dataframe['Sport'] == 'Swimming')]